In [2]:
#import libraries and read the lisitngs dataset
import pandas as pd
import numpy as np

df = pd.read_csv("listings.csv")
df.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.77028,-122.43317,Entire home/apt,161,2,314,2021-11-19,3.60,1,126,43,City Registration Pending
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74474,-122.42089,Entire home/apt,235,30,111,2015-08-28,0.76,1,365,0,NaN
2,7918,A Friendly Room - UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,19,2020-03-06,0.17,9,365,0,NaN
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,8,2017-08-12,0.10,9,365,0,NaN
4,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77564,-122.43642,Entire home/apt,895,7,28,2019-06-28,0.19,2,364,0,STR-0000264
5,8739,"Mission Sunshine, with Private Bath",7149,Ivan & Wendy,NaN,Mission,37.76030,-122.42197,Private room,169,13,736,2021-08-04,7.03,2,171,1,STR-0000028
6,10251,Victorian Suite in Inner Mission,35199,Roman & Sarah,NaN,Mission,37.75831,-122.41386,Entire home/apt,150,30,341,2021-11-13,2.90,1,334,4,STR-0001558
7,10578,Classic Nob Hill Studio - Roof Deck,37049,Andrew,NaN,Nob Hill,37.79249,-122.41499,Entire home/apt,120,30,18,2015-05-17,0.15,1,212,0,NaN
8,10820,Haight Buena Vista Park Garden 3BR,38836,Bernat,NaN,Haight Ashbury,37.77025,-122.43836,Entire home/apt,170,30,38,2018-09-08,0.38,27,364,1,NaN
9,10824,Victorian House in Hayes Valley - 3BED-2BA,38836,Bernat,NaN,Western Addition,37.77424,-122.42441,Entire home/apt,166,30,15,2019-08-18,0.13,27,0,0,NaN
10,10832,Union Square Modern Loft,38836,Bernat,NaN,Downtown/Civic Center,37.78527,-122.40861,Entire home/apt,116,30,20,2019-11-12,0.31,27,365,0,NaN
11,11490,Cozy Nob Hill Nook 2BR 1BA mo rental w parking,42681,Rachael,NaN,Nob Hill,37.79140,-122.41149,Entire home/apt,135,30,41,2014-12-18,0.32,1,176,0,NaN
12,12041,Sunny/Sunset view room UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76901,-122.44701,Private room,65,32,6,2018-09-20,0.10,9,365,0,NaN
13,12042,Sunny/Sunset view room UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76932,-122.44723,Private room,65,32,5,2015-10-18,0.05,9,365,0,NaN
14,12522,Perfectly located Castro,18431,Brenda,NaN,Castro/Upper Market,37.76237,-122.42992,Private room,79,3,427,2020-02-18,5.78,1,5,0,STR-0000057
15,18231,Loft-like Apt./Garden (monthly only available),70224,Arlene Helfand,NaN,Noe Valley,37.74916,-122.42971,Entire home/apt,84,30,65,2021-11-29,0.64,1,180,2,NaN
16,18904,Lower Haight Urban Zen With Private Bath,72464,Patrick,NaN,Western Addition,37.77247,-122.43301,Private room,110,3,414,2020-03-10,3.64,1,75,0,STR-0000094
17,21334,Studio loft on top of Russian Hill,81455,Joe,NaN,Nob Hill,37.79620,-122.41562,Entire home/apt,130,30,122,2021-11-14,2.18,1,318,3,City registration pending
18,23630,Castro Guest Suite With Continental Breakfast,93257,Daniel,NaN,Castro/Upper Market,37.75818,-122.44153,Entire home/apt,155,3,412,2020-03-17,4.65,1,156,0,STR-0000205
19,24463,"Potrero Hill ""Nest"" Quiet, Comfy & Convenient",99128,Cathryn,NaN,Potrero Hill,37.75565,-122.40125,Private room,154,2,314,2021-09-19,2.77,2,150,5,STR-0000036

In [3]:
df.shape

(6413, 18)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6413 entries, 0 to 6412
Data columns (total 18 columns):
id                                6413 non-null int64
name                              6413 non-null object
host_id                           6413 non-null int64
host_name                         6399 non-null object
neighbourhood_group               0 non-null float64
neighbourhood                     6413 non-null object
latitude                          6413 non-null float64
longitude                         6413 non-null float64
room_type                         6413 non-null object
price                             6413 non-null int64
minimum_nights                    6413 non-null int64
number_of_reviews                 6413 non-null int64
last_review                       5077 non-null object
reviews_per_month                 5077 non-null float64
calculated_host_listings_count    6413 non-null int64
availability_365                  6413 non-null int64
number_of_reviews_ltm             6413 non-null int64
license                           3628 non-null object
dtypes: float64(4), int64(8), object(6)
memory usage: 901.9+ KB

### We can observe some null values for reviews_per_month and last_review but I don't need to handle these values as I will not be using them.

In [6]:
#how many unique neighborhoods are there?
len(df.neighbourhood.unique())

36

In [5]:
#find unique values in the dataset
len(df.id.unique())

6413

In [11]:
df.room_type.unique()

array(['Entire home/apt', 'Private room', 'Shared room', 'Hotel room'],
      dtype=object)

In [6]:
#find duplicates
df.duplicated().sum()

0

no duplicates

In [8]:
print(df.neighbourhood.unique())

['Western Addition' 'Bernal Heights' 'Haight Ashbury' 'Mission' 'Nob Hill'
 'Downtown/Civic Center' 'Castro/Upper Market' 'Noe Valley' 'Potrero Hill'
 'Pacific Heights' 'Glen Park' 'Outer Richmond' 'Twin Peaks'
 'Financial District' 'Outer Sunset' 'Marina' 'Inner Richmond'
 'West of Twin Peaks' 'Bayview' 'North Beach' 'Inner Sunset'
 'Diamond Heights' 'Chinatown' 'Russian Hill' 'South of Market' 'Parkside'
 'Presidio Heights' 'Ocean View' 'Excelsior' 'Outer Mission' 'Lakeshore'
 'Crocker Amazon' 'Golden Gate Park' 'Presidio' 'Seacliff'
 'Visitacion Valley']

In [9]:
zero_reviews = (df['number_of_reviews_ltm']==0).sum()

In [10]:
print(zero_reviews)

2915

In [12]:
#Since There are 2915 listings that don't have any reviews I am going to filter them out of the data 
# let's check the minimum nights 
zero_minnights = (df['minimum_nights']==0).sum()

In [13]:
print(zero_minnights)

0

## Exploring the reviews dataset

In [4]:
df_reviews = pd.read_csv("reviews.csv")

In [5]:
df_reviews.head()

   listing_id        date
0         958  2009-07-23
1         958  2009-08-03
2         958  2009-09-27
3         958  2009-11-05
4         958  2010-02-13

In [6]:
#checking the size of the dataset
df_reviews.shape

(285275, 2)

In [7]:
#checking null values
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285275 entries, 0 to 285274
Data columns (total 2 columns):
listing_id    285275 non-null int64
date          285275 non-null object
dtypes: int64(1), object(1)
memory usage: 4.4+ MB

There are no null values in this dataset.

In [9]:
#find duplicates
df_reviews.duplicated().sum()

1938

Checking the duplicated values

In [10]:
df_reviews[df_reviews.duplicated(keep='last')]

        listing_id        date
879           8739  2016-07-15
1580         10820  2013-02-26
1794         12522  2012-04-13
2823         23630  2013-08-23
4615         33578  2016-08-20
4871         39174  2014-09-24
5585         44032  2011-11-19
6406         53934  2015-01-04
6480         53934  2016-08-24
6490         53934  2016-10-31
6638         56621  2012-04-12
8460         70753  2014-06-16
8486         70753  2015-02-19
8550         70753  2016-06-17
8636         70753  2018-02-14
9210         72444  2016-09-12
9338         72444  2018-05-04
13575       191632  2013-09-14
14117       207980  2012-09-17
14250       207980  2016-03-31
14878       208831  2015-08-07
17577       229240  2016-07-11
17579       229240  2016-07-28
18414       241235  2016-04-07
18437       241235  2016-07-17
18502       241235  2017-07-02
19404       259622  2016-08-12
19543       269463  2013-08-13
19896       271647  2016-06-10
21467       353292  2012-11-24
...            ...         ...
284692    51621733  2021-11-29
284694    51621733  2021-11-30
284695    51621733  2021-11-30
284707    51622113  2021-09-16
284718    51622113  2021-11-28
284719    51622113  2021-11-28
284774    51746625  2021-09-22
284786    51746773  2021-09-28
284789    51746773  2021-10-11
284796    51746773  2021-10-19
284800    51746773  2021-10-25
284803    51746773  2021-10-27
284806    51746773  2021-11-02
284808    51746773  2021-11-03
284809    51746773  2021-11-03
284811    51746773  2021-11-04
284815    51746773  2021-11-07
284818    51746773  2021-11-10
284821    51746773  2021-11-13
284823    51746773  2021-11-15
284825    51746773  2021-11-16
284827    51746773  2021-11-17
284830    51746953  2021-09-20
284831    51746953  2021-09-20
284832    51746953  2021-09-20
284835    51746953  2021-09-28
284841    51746953  2021-10-12
284843    51746953  2021-10-14
284854    51746953  2021-11-15
285220    52794728  2021-11-13

[1938 rows x 2 columns]

# Observations
1. After examining the duplicates, we can see that the listing ids appear more than twice but they have different dates. This is considered normal in this dataset because a listing there can be many review dates for the same listing.
2.  Another interesting observation is that even if both date and listing appear more than twice it may mean that there were many reviews for the same listing on the same date. Therefore I will not be removing the duplicates.